/Fukizi.Pfm.Web/.vs/Fukizi.Pfm/v15/.suo
/Fukizi.Pfm.Web/.vs/Fukizi.Pfm/v15/Server/sqlite3/db.lock
/Fukizi.Pfm.Web/.vs/Fukizi.Pfm/v15/Server/sqlite3/storage.ide
/Fukizi.Pfm.Web/Fukizi.Pfm.sln
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/bin/Debug/netcoreapp2.0/Fukizi.Pfm.Web.deps.json
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/bin/Debug/netcoreapp2.0/Fukizi.Pfm.Web.pdb
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/bin/Debug/netcoreapp2.0/Fukizi.Pfm.Web.runtimeconfig.dev.json
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/bin/Debug/netcoreapp2.0/Fukizi.Pfm.Web.runtimeconfig.json
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/Fukizi.Pfm.Web.csproj
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/obj/Debug/netcoreapp2.0/Fukizi.Pfm.Web.AssemblyInfoInputs.cache
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/obj/Debug/netcoreapp2.0/Fukizi.Pfm.Web.csproj.CoreCompileInputs.cache
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/obj/Debug/netcoreapp2.0/Fukizi.Pfm.Web.csproj.FileListAbsolute.txt
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/obj/Debug/netcoreapp2.0/Fukizi.Pfm.Web.csprojResolveAssemblyReference.cache
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/obj/Debug/netcoreapp2.0/Fukizi.Pfm.Web.dll
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/obj/Debug/netcoreapp2.0/Fukizi.Pfm.Web.pdb
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/obj/Fukizi.Pfm.Web.csproj.nuget.cache
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/obj/Fukizi.Pfm.Web.csproj.nuget.g.props
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/obj/Fukizi.Pfm.Web.csproj.nuget.g.targets
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/obj/project.assets.json
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/Properties/launchSettings.json
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/obj/Debug/netcoreapp2.0/Fukizi.Pfm.Web.AssemblyInfo.cs
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/bin/Debug/netcoreapp2.0/Fukizi.Pfm.Web.dll
