/Fukizi.Pfm.Web/.vs/Fukizi.Pfm/v15/.suo
/Fukizi.Pfm.Web/.vs/Fukizi.Pfm/v15/Server/sqlite3/db.lock
/Fukizi.Pfm.Web/.vs/Fukizi.Pfm/v15/Server/sqlite3/storage.ide
/Fukizi.Pfm.Web/Fukizi.Pfm.sln
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/bin/Debug/netcoreapp2.0/Fukizi.Pfm.Web.deps.json
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/bin/Debug/netcoreapp2.0/Fukizi.Pfm.Web.pdb
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/bin/Debug/netcoreapp2.0/Fukizi.Pfm.Web.runtimeconfig.dev.json
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/bin/Debug/netcoreapp2.0/Fukizi.Pfm.Web.runtimeconfig.json
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/Fukizi.Pfm.Web.csproj
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/obj/Debug/netcoreapp2.0/Fukizi.Pfm.Web.AssemblyInfoInputs.cache
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/obj/Debug/netcoreapp2.0/Fukizi.Pfm.Web.csproj.CoreCompileInputs.cache
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/obj/Debug/netcoreapp2.0/Fukizi.Pfm.Web.csproj.FileListAbsolute.txt
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/obj/Debug/netcoreapp2.0/Fukizi.Pfm.Web.csprojResolveAssemblyReference.cache
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/obj/Debug/netcoreapp2.0/Fukizi.Pfm.Web.dll
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/obj/Debug/netcoreapp2.0/Fukizi.Pfm.Web.pdb
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/obj/Fukizi.Pfm.Web.csproj.nuget.cache
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/obj/Fukizi.Pfm.Web.csproj.nuget.g.props
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/obj/Fukizi.Pfm.Web.csproj.nuget.g.targets
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/obj/project.assets.json
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/Properties/launchSettings.json
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/obj/Debug/netcoreapp2.0/Fukizi.Pfm.Web.AssemblyInfo.cs
/Fukizi.Pfm.Web/Fukizi.Pfm.Web/bin/Debug/netcoreapp2.0/Fukizi.Pfm.Web.dll
/Fukizi.Pfm/.vs/Fukizi.Pfm/v15/.suo
/Fukizi.Pfm/.vs/Fukizi.Pfm/v15/Server/sqlite3/db.lock
/Fukizi.Pfm/.vs/Fukizi.Pfm/v15/Server/sqlite3/storage.ide
/Fukizi.Pfm/Fukizi.Pfm.sln
/Fukizi.Pfm/Fukizi.Pfm.Web/bin/Debug/netcoreapp2.0/Fukizi.Pfm.Web.deps.json
/Fukizi.Pfm/Fukizi.Pfm.Web/bin/Debug/netcoreapp2.0/Fukizi.Pfm.Web.dll
/Fukizi.Pfm/Fukizi.Pfm.Web/bin/Debug/netcoreapp2.0/Fukizi.Pfm.Web.pdb
/Fukizi.Pfm/Fukizi.Pfm.Web/bin/Debug/netcoreapp2.0/Fukizi.Pfm.Web.runtimeconfig.dev.json
/Fukizi.Pfm/Fukizi.Pfm.Web/bin/Debug/netcoreapp2.0/Fukizi.Pfm.Web.runtimeconfig.json
/Fukizi.Pfm/Fukizi.Pfm.Web/Fukizi.Pfm.Web.csproj
/Fukizi.Pfm/Fukizi.Pfm.Web/obj/Debug/netcoreapp2.0/Fukizi.Pfm.Web.AssemblyInfo.cs
/Fukizi.Pfm/Fukizi.Pfm.Web/obj/Debug/netcoreapp2.0/Fukizi.Pfm.Web.AssemblyInfoInputs.cache
/Fukizi.Pfm/Fukizi.Pfm.Web/obj/Debug/netcoreapp2.0/Fukizi.Pfm.Web.csproj.CoreCompileInputs.cache
/Fukizi.Pfm/Fukizi.Pfm.Web/obj/Debug/netcoreapp2.0/Fukizi.Pfm.Web.csproj.FileListAbsolute.txt
/Fukizi.Pfm/Fukizi.Pfm.Web/obj/Debug/netcoreapp2.0/Fukizi.Pfm.Web.csprojResolveAssemblyReference.cache
/Fukizi.Pfm/Fukizi.Pfm.Web/obj/Debug/netcoreapp2.0/Fukizi.Pfm.Web.dll
/Fukizi.Pfm/Fukizi.Pfm.Web/obj/Debug/netcoreapp2.0/Fukizi.Pfm.Web.pdb
/Fukizi.Pfm/Fukizi.Pfm.Web/obj/Fukizi.Pfm.Web.csproj.nuget.cache
/Fukizi.Pfm/Fukizi.Pfm.Web/obj/Fukizi.Pfm.Web.csproj.nuget.g.props
/Fukizi.Pfm/Fukizi.Pfm.Web/obj/Fukizi.Pfm.Web.csproj.nuget.g.targets
/Fukizi.Pfm/Fukizi.Pfm.Web/obj/project.assets.json
/Fukizi.Pfm/Fukizi.Pfm.Web/Properties/launchSettings.json
/.gitattributes
/Fukizi.Pfm/.vs/Fukizi.Pfm/v15/Server/sqlite3/storage.ide-shm
/Fukizi.Pfm/.vs/Fukizi.Pfm/v15/Server/sqlite3/storage.ide-wal
/Fukizi.Pfm/Fukizi.Pfm.Desktop/Fukizi.Pfm.Desktop.csproj
/Fukizi.Pfm/Fukizi.Pfm.Desktop/obj/Debug/App.g.cs
/Fukizi.Pfm/Fukizi.Pfm.Desktop/obj/Debug/App.g.i.cs
/Fukizi.Pfm/Fukizi.Pfm.Desktop/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Fukizi.Pfm/Fukizi.Pfm.Desktop/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Fukizi.Pfm/Fukizi.Pfm.Desktop/obj/Debug/Fukizi.Pfm.Desktop.csproj.CoreCompileInputs.cache
/Fukizi.Pfm/Fukizi.Pfm.Desktop/obj/Debug/Fukizi.Pfm.Desktop_MarkupCompile.cache
/Fukizi.Pfm/Fukizi.Pfm.Desktop/obj/Debug/Fukizi.Pfm.Desktop_MarkupCompile.i.cache
/Fukizi.Pfm/Fukizi.Pfm.Desktop/obj/Debug/Fukizi.Pfm.Desktop_MarkupCompile.i.lref
/Fukizi.Pfm/Fukizi.Pfm.Desktop/obj/Debug/Fukizi.Pfm.Desktop_MarkupCompile.lref
/Fukizi.Pfm/Fukizi.Pfm.Desktop/obj/Debug/MainWindow.g.cs
/Fukizi.Pfm/Fukizi.Pfm.Desktop/obj/Debug/MainWindow.g.i.cs
/Fukizi.Pfm/Fukizi.Pfm.Desktop/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Fukizi.Pfm/Fukizi.Pfm.Desktop/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Fukizi.Pfm/Fukizi.Pfm.Desktop/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Fukizi.Pfm/Fukizi.Pfm.Desktop/Properties/AssemblyInfo.cs
